# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.swp
*.cache
.deps

oip
oipd

Makefile.in
Makefile
compile
config.h
config.h.in~
config.log
config.status
configure
missing
stamp-h1
gui/.dirstamp
